.checkOutHeader {
    font-weight: 700;
    padding: 0 1rem;
    margin: 1.8rem 0;
    font-size: 2.4rem;
}
.checkOutForm{
    background: white;
    padding: 1.5rem;
    box-shadow: 10px 10px 8px #ece9e9, -5px -5px 25px #ece9e9;
    border-radius: 1rem;    
}
.checkOutForm table {
    width: 100%!important;
}
.tableHeader {
    border-bottom: 2px solid #c4c4c4;
    padding: 1.5rem;
}
.tableFooter {
    border-top: 1px solid #c4c4c4;
}
th{
    border-bottom: 1px solid #c4c4c4;
    padding: 0.5rem 0;
    color: #9c9c9c;
}
td:first-child {
   padding: 0.8rem 0;
   font-weight: 500;
}
.checkoutBtnDiv {
    text-align: end;
}
.checkoutBtn {
    border-radius: 0.4rem!important;
    background-color: #48dbfb!important;
    border: 1px solid #48dbfb!important;
    font-weight: 500!important;
}
.checkoutBtn:hover {
    background-color: #2dc0e0!important;
}
