.menuBar {
    background: #ffffff;
    box-shadow: 1px 2px 8px #c7c7c7;
}
.navbar {
    padding: .5rem 1rem!important;
}
.menu a {
    padding: 1rem 1rem 0.6rem!important;
    color: #000000;
    text-decoration: none!important;
    font-weight: 500;
    transition: 0.3s;
}
.navbar-collapse {
    flex-grow: 0!important;
}
.menu a:hover {
    color: rgba(0, 0, 0, 0.384);
}
.menuStyle {
    color: #48dbfb!important;
}
.menuStyle:hover {
    color: #48dbfb!important;
}

.navBrandName {
    color: #000000!important;
    font-weight: 700;
}
.navBrandName:hover{
    text-decoration: none;
}
.navHighlight{
    color: #48dbfb!important;
}

.logOutBtn {
    background: #48DBFB;
    outline: none;
    border: none;
    color: #fff;
    padding: 0.2rem 0.8rem;
    border-radius: 0.3rem;
    font-weight: 500;
    transition: 0.4s;
}
.logOutBtn:hover {
    background: #11C1E9;
}