.addProduct {
    background: white;
    padding: 1.5rem;
    box-shadow: 10px 10px 8px #ece9e9, -5px -5px 25px #ece9e9;
    border-radius: 1rem;
}
.allInput input {
    width: 100%;
    padding: 0.5rem 0.6rem;
    border-radius: 0.4rem;
    outline: none;
    border: 1px solid #e7e5e5
}
.allInput label {
    font-weight: 700;
    font-size: 1rem;
}
.saveButton {
    text-align: end;
}
.saveButton button{
    border-radius: 0.4rem!important;
    background-color: #48dbfb!important;
    border: 1px solid #48dbfb!important;
}